library_NFBS
DATASETS/*
model/*
metrics/*
diffusion-*/
library_NFBS/NFBS_Dataset.tar
.idea
.DS_Store
*.pyc
*.zip
diffusion-videos
diffusion-training-images
model
temp.txtorientation_check/
__pycache__/
